[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A demo repository
[access "refs/*"]
	owner = group user/Tanmoy Roy (tanm0yr0y)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tanmoy Roy (tanm0yr0y)
	label-Verified = -1..+1 group user/Tanmoy Roy (tanm0yr0y)
	push = group user/Tanmoy Roy (tanm0yr0y)
	read = group user/Tanmoy Roy (tanm0yr0y)
	rebase = group user/Tanmoy Roy (tanm0yr0y)
	removeReviewer = group user/Tanmoy Roy (tanm0yr0y)
	submit = group user/Tanmoy Roy (tanm0yr0y)
[access "refs/heads/*"]
	create = group user/Tanmoy Roy (tanm0yr0y)
	push = +force group user/Tanmoy Roy (tanm0yr0y)
	pushMerge = group user/Tanmoy Roy (tanm0yr0y)
	read = group user/Tanmoy Roy (tanm0yr0y)
[access "refs/tags/*"]
	push = group user/Tanmoy Roy (tanm0yr0y)
	push = +force group user/Tanmoy Roy (tanm0yr0y)
